@model BookViewModel

<h1>Info Book</h1>
<hr />

<p>Book Title: @Model.Title</p>
<p>Book Author: @Model.Author</p>
<p>Book Description: @Model.Description</p>
<p>Book Genre: @Model.GenreName</p>
<p>Book Cover: <img src="@Model.ImageURL"</p>